html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

@media (max-width: 576px) {
  body {
    font-size: 13px;
  }

  .navbar .btn {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }

  footer {
    text-align: center;
    font-size: 0.8rem;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }
  .container {
    max-width: 90%;
  }
}
